body{
    background-color: pink;
}
#main{
    display: grid;
    grid-template: 1fr/ 1fr 1fr;
}
#submit{
    margin-left: 20px;
    color: blue;
}
aside{
    display: grid;
    grid-template: 1fr/ 1fr 1fr;
}