* {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

main {
    margin-left: 10%;
}

.logo {
    width: 50px;
    height: auto;
}

header {
    text-align: center;
    height: 35vh;
    width: 100%;
    /* background: url("/assets/Images/background.png");
    background-position: top; */
}

nav {
    z-index: 1;
    background: #000;
    /* opacity: 0.8; */
}

.nav-link, .nav-item {
    /* font-family: 'Nosifer', cursive; */
    color: #fff;
    border: 0px;
    z-index: 1;
}

.nav-link:hover {
    color: #8f8d8d;
    border: 0px;
    z-index: 1;
}

#submitButton {
    width: 80px;
    border-radius: 4px;
}

input, textarea {
    width: 450px;
    padding: 5px;
    /* background: #93b1c4; */
    color: #000;
}

textarea {
    height: 180px;
    color: #000
}

.contact {
    color: #fff;
}

h1 {
    font-size: 48px;
    padding-top: 5%;
}

h2 {
    margin-top: 6%;
    margin-bottom: 3%;
}

.bold {
    font-weight: bold;
}

p {
    font-size: 16px;
}

footer {
    height: 10vh;
    text-align: center;
}

.margin-top {
    margin-top: 30px;
}

#arrow {
    margin-top: 20px;
    width: 40px;
    height: 40px;
}

.btn {
    color: #000;
}

.btn:hover {
    color: #8f8d8d;
}

@media screen and (max-width: 640px) {
    .logo {
        height: 30px;
        width: auto;
    }
    input, textarea {
        width: 100%;
    }
    main {
        margin-left: 10px;
        margin-right: 10px;
    }
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 26px;
    }
    .col-lg-3 {
        margin-top: 10px;
    }
    #arrow {
        width: 25px;
        height: 25px;
    }
}